<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>{TITLE}</title>


		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
		<link href="./templates/Free-Rogue.com/css/AY.css" rel="stylesheet">
		<link href="./templates/Free-Rogue.com/css/BE.css" rel="stylesheet">
		<link href="./templates/Free-Rogue.com/css/SE.css" rel="stylesheet">
	</head>

	<body>
	{HOOK:KURE-HEAD}
	{HOOK:KURE-TOP}
	<div class="header">
		<div class="container-narrow">
			<div class="masthead text-center">
			<h1 class="muted">{TITLE}</h1>
				<ul class="nav nav-pills">
					<li><a href="?">Entries</a>
					{IF:ADMINLINK}<li><a href="./admin.php">Admin CP</a></li>{/IF:ADMINLINK}{HOOK:KURE-NAVADMIN_AFTER}
				</ul>
			</div>
		</div>
	</div>
	<div class="container-narrow">
	<div class="row-fluid">
	<div class="span10 offset1">
	{HOOK:KURE-PAGE_TOP}
	<div class="news-head"></div>